body {
  background-color: #1e1e1e;
  width: 100%;
  background-color: #ccc;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}


#sponsored {
  text-align: center;
  background: #b5a484;
}

#header,
#footer {
  margin-left: 0px;
  /* width:100%; */
  height: 45px;
  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 40px;
  background: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b5a484;
  font-size: 14px;
}
.knob-creek-icon {
  height: 40px;
  width: 100px;
}

#header-center-logo {
  color: #b5a484;
  border: 2px solid;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#header-social-media-icon {
  color: #b5a484;
}
#header-social-media-icon:hover {
  color: white;
}

.fa-2x {
  font-size: 1.5em;
  padding-left: 20px;
}

#splash-page-container {
  width: 100%;
  height: 145vh;
  background-image: url("./assets/images/www.knobcreek.com-1293609732325191.jpg");
  background-size: 103%, auto;
  background-repeat: no-repeat;
  background-color: #b5a484;
}

#splash-page {
  margin: auto;
  padding-top: 115px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

#splash-page-bio {
  position: sticky;
  color: white;
  width: 55%;
  height: 50%;
}
#bio-header {
  padding-top: 90px;
  font-size: 70px;
  line-height: 1em;
}
#bio-blurb {
  width: 73%;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.8em;
  font-stretch: ultra-expanded;
  margin-top:20px;
}

#splash-page-bourbon-bottle-container {
  width: 40%;
  z-index: 1;
  margin:auto;
}

#splash-bourbon-bottle {
  width: 110%;
  height: 100%;
  margin-left: 15%;
  /* margin:auto; */
}

#bottom-splash {

  margin:auto;
  margin-top:-17vw;
  width: 88%;
  display: flex;
  flex-wrap: wrap;
}


#bottom-splash-image {
  width: 47%;
  height: 65vh;
  position: absolute;
}

#bottom-splash-text {
  background-color: white;
  color: black;
  height: 65vh;
  width: 47%;
  text-align: center;
  z-index: 2;
  margin-left: 52%;
  align-content: center;
}

.bottom-splash-article-icon {
  position:relative;
  width: 35px;
  height: 35px;
  color: #932525;
  margin-top: 25%;
}

#bottom-splash-article-date {
  margin:auto;
  font-size:14px;
  padding:7px;
  letter-spacing: 2px;
}

.bottom-splash-article-title {
  margin:auto;
  width: 60%;
  font-size: 28px;
  text-align: center;
}

#article-blurb {
  margin:auto;
  width: 75%;
  padding:10px;
  padding-bottom:15px;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.7em;
}

.article-readmore {
  color: #bd3131;
  font-size: 16px;
  font-weight: 700;
}

#recent-articles-container {
  width: 100%;
  background-color: white;
  margin-top: -10px;
  padding-bottom: 50px;
  /* padding-left:50px; */
  text-align: center;
}
#recent-articles-heading {
  font-size: 35px;
  margin: 10px;
  padding-top: 40px;
  padding-bottom: 10px;
}

#footer-social {
  display: flex;
  flex-wrap: wrap;

}
#footer-social:hover {
  color: white;
}


@media screen and (max-width:1000px){
  #splash-page-container{
    background-size: 110%, auto;
    height: 67vh;
  }

  #splash-page{
    padding-top:50px;
    width:90%
  }

  #bio-header{
    
    font-size:60px;
    font-weight: lighter;
  }

  #bio-blurb{
    width:95%;
  }


  #splash-page-bourbon-bottle-container {
    width: 40%;
    margin-top:15px;

  }
  
  #splash-bourbon-bottle {
    width: 95%;
    margin:auto;
  }

  #bottom-splash {
    margin-top: -14vw;
  }

  #bottom-splash-image, #bottom-splash-text {
    height: 28vh;
  }

  #bottom-splash-text {
    margin-left: 50%;
  }

  .bottom-splash-article-icon {
    margin-top: 18%;
  }
  #bottom-splash-article-date{
    font-size:13px;
  }
  .bottom-splash-article-title {
    font-size:21px;
    width:70%;
  }

  #article-blurb, .article-readmore{
    font-size:15px;
  }
}
/* @media screen and (max-width: 1000px) {


  #bottom-splash {
    margin-top: -14.6vw;
    margin-left: 17px;
    width: 90%;
  }
  #pour-mug {
    width: 45%;
    height: 44vh;
    position: absolute;
  }

  #pour-mug-text {
    height: 44vh;
  }

  .article-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0px;
  }

  #article-blurb {
    width: 85%;
  margin-top: 10px;
    font-size: 15px;
    font-weight: lighter;
 margin-left: 5%;
  }
}

@media screen and (max-width: 600px) {
  .main-div {
    width: 100%;
  }
  #splash-page-container {
    width: 100%;
    height: 113vh;
    background-image: url("./assets/images/www.knobcreek.com-1293609732325191.jpg");
    background-size: 180%, auto;
    background-repeat: no-repeat;
    background-color: #b5a484;
    background-position: -250px 0px;
  }
  #splash-page {
    padding: 20px;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  #splash-page-bio {
    color: white;
    width: 100%;
    height: 75%;
    margin-left: 0%;
  }
  #bio-header {
    width: 50%;
    padding-top: 25px;
    font-size: 35px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    line-height: 1em;
    margin: auto;
    text-align: center;
  }
  #bio-blurb {
    width: 71%;
    font-size: 14px;
    margin: auto;
    text-align: center;
  }
  #splash-page-bourbon-bottle {
    width: 45%;
    margin:auto;
  }

  #splash-resize-bottle {
    height: 45vh;
    width: 28vh;
     padding-top:5%;
    margin:auto;
  }
  #bottom-splash {
    margin-top: -36vw;
    margin-left: 17px;
    width: 90%;
    display:flex;
    flex-wrap: wrap;

  }
  #splash-pour-mug{
    width: 95%;
    height: 32vh;
  }
  #pour-mug {
    width: 85%;
    height: 32vh;
    position: absolute;
    z-index: 2
  }
  #pour-mug-text{
    width:94.5%;
    height:25vh;
    margin-left:0px;

  }
  .pour-mug-article-icon {
    width: 30px;
    height: 30px;
    color: #932525;
    margin-top: 5%;
    margin-bottom:-15px;
}

#article-main-content{
  margin-top:20px;
}
.article-date{
  font-size:12px;
}
.article-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 0px;
  margin-top:20px;
}
#article-blurb {
  width: 87%;
  margin-top: 10px;
  font-size: 14px;
  font-weight: lighter;
  margin-left: 5%;
}
.article-readmore{
  font-size:12px;
}
#recent-articles-heading{
  font-size:18px;
}
}


@media screen and (max-width: 350px) {
  .main-div {
    width: 100%;
  }
  #splash-page-container{
    background-size:300%,auto;
    background-position:-380px -15px;
    height: 120vh;
  }
  #bio-header {
    width: 80%;
    padding-top: 0px;
    font-size: 35px;
    padding-bottom: 10px;
    line-height: 1em;
    margin: auto;
    text-align: center;

}
#bio-blurb {
  width: 73%;
 
}
#splash-page-bourbon-bottle {
  width: 75%;
  margin: auto;
}
#splash-resize-bottle {
  height: 38vh;
    width: 23vh;
    padding-top: 5%;
    padding-left: 10%;
    margin: auto;
}
#bottom-splash {
  margin-top: -31vw;
}

#splash-pour-mug {
  width: 95%;
  height: 26vh;
}

#pour-mug {
  width: 85%;
  height: 29vh;
  position: absolute;
  z-index: 2;
}
#pour-mug-text {
  width: 94.5%;
  height: 30vh;
  margin-left: 0px;
}
.pour-mug-article-icon {
  margin-top: 10%;

}
.article-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 0px;
  margin-top:20px;
}
} */

