#articles-container{
    margin:auto;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center
}

.article-card{
    width:29%;
    height:585px;
    margin:15px;
    background-color: #F3F1ED
}
.article-card:hover{
   background-color:  #1E1E1E;;
   color:white
}

.date {
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
  }

img{
    height:380px;
    width:100%;
}

.article-blurb{
    margin:auto;
    width: 70%;
}

.article-title{
    font-size:24px;
    font-weight: lighter;

}

.article-icon{
    width:30px;
    height:30px;
    border-radius:30px;
    margin-top:-30px;
    padding-top: 12px;
    padding-right: 5px;
    padding-left: 5px;
    border: 2px solid transparent;
    background-color:#F3F1ED;
}

.article-icon-gallery{
    width: 35px;
    height: 15px;
    color: #932525;
    border-radius: 800px;
    margin-top: -30px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-right: 5px;
    padding-left: 5px;
    border: 2px solid transparent;
    background-color: #F3F1ED;
}

.article-icon-glass{
    width:35px;
    height:40px;
    border-radius:500px;
    margin-top:-30px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border: 2px solid transparent;
    background-color:#F3F1ED;
}

@media screen and (max-width:1000px){
    #articles-container{
        margin-left:5px;
        margin-right:5px;
    }
    .article-card{
        width:29%;
        height:450px;
        margin:10px;
        background-color: #F3F1ED
    }
    .article-card:hover{
       background-color:  #1E1E1E;;
       color:white
    }
    
    img{
        height:270px;
        width:100%;
    }
    .article-blurb{
        width: 99%;
        /* margin-left: 5%; */
    }
    .article-readmore{
        color:#BD3131;
        margin-top:-100px;
        margin-left:-25px;
        font-size:16px;
        /* font-size: 1vw; */
        font-weight: 700
      }
      .article-title{
          font-size:18px;
          width:85%;
          margin-left:12px;
          margin-right:10px;
          margin-bottom:-5px;
      }
    }
      @media screen and (max-width: 600px) {
        #articles-container{
            margin-left:15px;
            margin-right:15px;
        }
        .article-card{
            width:40%;
            height:400px;
          
        }
        img{
            height:240px;
        }
        .article-blurb{
            width: 99%;
            /* margin-left: 5%; */
        }
        .date{
            margin-top:0px;
        }
        
        .article-title{
           
            font-size: 18px;
            width: 92%;
            margin-bottom: -10px;
            margin-left:0px;
            margin-right:0px;
            margin-top:-5px;
        }
    }
        @media screen and (max-width: 350px) {
            #articles-container{
                margin:auto;
            }
            .article-card{
                width:40%;
                height:400px;
              
            }
            img{
                height:240px;
            }
            .article-blurb{
                width: 99%;
                /* margin-left: 5%; */
            }
            .date{
                margin-top:0px;
            }
            
            .article-title{
               
                font-size: 18px;
                width: 92%;
                margin-bottom: -10px;
                margin-left:0px;
                margin-right:0px;
                margin-top:-5px;
            }
      }
